<div class="wrapper">
  <h2 class="form__header">Find contact</h2>
  <form class="find-contact">
    <select name="searchType" id="find-type" [(ngModel)]="searchType">
      <option value="find-by-name">Name</option>
      <option value="find-by-value">Phone/Email</option>
    </select>
    <input
      required
      type="text"
      id="searchInput"
      placeholder="Search..."
      [(ngModel)]="searchText"
      name="searchText"
    />
    <button
      type="submit"
      class="btn_success find-btn"
      (click)="showFilteredContacts()"
    >
      Find
    </button>
    <button class="btn_success reset-btn" (click)="resetFindContact()">
      Reset
    </button>
  </form>
</div>
