.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 30px;
  color: #1d7373;
}

.exit {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #1d7373;
}

.exit:active {
  transform: scale(1.1);
  color: #009999;
}

.row {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.row__col {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.btn_success {
  margin: 0 auto;
  border-radius: 4px;
  background-color: #1d7373;
  color: #fff;
  padding: 4px 12px;
  font-weight: 700;
  cursor: pointer;
}

.btn_success:active {
  transform: scale(1.1);
}

.authorized {
  justify-content: space-around;
  margin-left: 45px;
  margin-right: 45px;
}

.wrapper {
  flex-basis: 15%;
  box-shadow: 1px 2px 1px 1px #777;
  padding: 15px;
  height: min-content;
}

.my-contacts-list {
  list-style: none;
  padding-left: 0;
}

.my-contacts-list-item {
  box-shadow: 1px 2px 1px 1px #777;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

label {
  min-width: 80px;
}

.component {
  flex-basis: 15%;
}

.delete-btn {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
  cursor: pointer;
}

.delete-btn:active {
  transform: scale(1.1);
}

.chosen {
  cursor: default;
}
