<header class="header">
  <h1 class="header__logo">MyPhoneBook</h1>
  <a href="#" class="exit" *ngIf="currentUser$ | async" (click)="logout()"
    >Exit</a
  >
</header>
<div class="unauthorized-screen" *ngIf="!(currentUser$ | async)">
  <div class="row">
    <div class="row__col">
      <app-register-form></app-register-form>
    </div>
    <div class="row__col">
      <app-login-form></app-login-form>
    </div>
  </div>
</div>
<div class="authorized-screen" *ngIf="currentUser$ | async">
  <div class="row authorized">
    <app-my-contacts class="component"></app-my-contacts>
    <div class="wrapper component">
      <h2 class="form__header">Chosen contact</h2>
      <div class="chosen-contact" *ngIf="activeContact$ | async">
        <div class="my-contacts-list-item chosen">
          {{ (activeContact$ | async)?.name }}
        </div>
        <div class="my-contacts-list-item chosen">
          {{ (activeContact$ | async)?.type }}
        </div>
        <div class="my-contacts-list-item chosen">
          {{ (activeContact$ | async)?.value }}
        </div>
      </div>
    </div>
    <app-find-contact class="component"></app-find-contact>

    <app-add-contact class="component"></app-add-contact>
  </div>
</div>
<app-modal></app-modal>
