.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 30px;
  color: #1d7373;
}

.exit {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #1d7373;
}

.exit:active {
  transform: scale(1.1);
  color: #009999;
}

.row {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.row__col {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form {
  box-shadow: 1px 2px 1px 1px #777;
  padding: 20px;
}

.form__header {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.form .form__body {
  padding-bottom: 15px;
}

.form .form__control {
  display: flex;
  /* justify-content: flex-start; */
  gap: 20px;
  padding: 10px;
}

.form .form__control.my-contacts {
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

.btn_success {
  margin: 0 auto;
  border-radius: 4px;
  background-color: #1d7373;
  color: #fff;
  padding: 4px 12px;
  font-weight: 700;
  cursor: pointer;
}

.btn_success:active {
  transform: scale(1.1);
}

.reset-btn {
  background-color: #fff;
  color: #006363;
  margin-bottom: 15px;
}

.contacts {
  flex-basis: 15%;
  box-shadow: 1px 2px 1px 1px #777;
  padding: 15px;
}

.contact {
  padding: 5px 25px;
  border: 1px solid #006363;
  border-radius: 3px;
  margin-bottom: 8px;
}

.authorized {
  /* display: none; */
  justify-content: space-around;
  margin-left: 45px;
  margin-right: 45px;
}

/* .authorized-screen {
  display: none;
} */

.active-contact {
  background-color: #1d7373;
  color: #fff;
}

.wrapper {
  flex-basis: 15%;
  box-shadow: 1px 2px 1px 1px #777;
  padding: 15px;
  height: min-content;
}

.my-contacts-list {
  list-style: none;
  padding-left: 0;
}

.my-contacts-list-item {
  box-shadow: 1px 2px 1px 1px #777;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.adding-contacts {
  flex-basis: 15%;
}

.find-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  min-width: 80px;
}

.modal-window {
  /* display: none; */
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}

.modal-window__window {
  width: 300px;
  margin: 150px auto;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.modal-window__body,
.modal-window__footer {
  padding: 20px;
}

.modal-window__footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
}

.delete-btn {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
  cursor: pointer;
}

.delete-btn:active {
  transform: scale(1.1);
}

.chosen {
  cursor: default;
}
