<header class="header">
  <h1 class="header__logo">MyPhoneBook</h1>
  <a href="#" class="exit" *ngIf="currentUser$ | async" (click)="logout()"
    >Exit</a
  >
</header>
<div class="unauthorized-screen" *ngIf="!(currentUser$ | async)">
  <div class="row">
    <div class="row__col">
      <app-register-form></app-register-form>
    </div>
    <div class="row__col">
      <app-login-form></app-login-form>
    </div>
  </div>
</div>
<div class="authorized-screen" *ngIf="currentUser$ | async">
  <div class="row authorized">
    <app-my-contacts></app-my-contacts>
    <div class="wrapper">
      <h2 class="form__header">Chosen contact</h2>
      <div class="chosen-contact" *ngIf="activeContact$ | async">
        <div class="my-contacts-list-item chosen">
          {{ (activeContact$ | async)?.name }}
        </div>
        <div class="my-contacts-list-item chosen">
          {{ (activeContact$ | async)?.type }}
        </div>
        <div class="my-contacts-list-item chosen">
          {{ (activeContact$ | async)?.value }}
        </div>
      </div>
    </div>
    <div class="wrapper">
      <h2 class="form__header">Find contact</h2>
      <form class="find-contact">
        <select name="searchType" id="find-type" [(ngModel)]="searchType">
          <option value="find-by-name">Name</option>
          <option value="find-by-value">Phone/Email</option>
        </select>
        <input
          required
          type="text"
          id="searchInput"
          placeholder="Search..."
          [(ngModel)]="searchText"
          name="searchText"
        />
        <button
          type="submit"
          class="btn_success find-btn"
          (click)="showFilteredContacts()"
        >
          Find
        </button>
        <button
          type="reset"
          class="btn_success reset-btn"
          (click)="resetFindContact()"
        >
          Reset
        </button>
      </form>
    </div>

    <div class="adding-contacts">
      <form class="form add-contact-form">
        <h2 class="form__header">Add Contacts</h2>
        <div class="form__body">
          <div class="form__control my-contacts">
            <input
              required
              type="text"
              placeholder="Name"
              id="contact-name"
              name="name"
              [(ngModel)]="contact.name"
            />
            <select id="options" [(ngModel)]="contact.type" name="type">
              <option value="phone" *ngFor="let type of types" [ngValue]="type">
                {{ type }}
              </option>
              <!-- <option value="email">Email</option> -->
            </select>
            <input
              required
              type="text"
              id="contact"
              placeholder="Phone/Email"
              name="value"
              [(ngModel)]="contact.value"
            />
            <button
              type="submit"
              class="btn_success"
              (click)="addContact(contact.name, contact.type, contact.value)"
            >
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-modal></app-modal>
